---
import { Icon } from 'astro-icon/components';
const { id } = Astro.props;
---

<section id={id} class="bg-blue-50 dark:bg-secondary not-prose">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium dark:text-[#0a2231]">
    <Icon name="tabler:info-square" class="w-5 h-5 inline-block align-text-bottom" />
     Unidos pela curiosidade, guiados pela pesquisa.
  </div>
</section>
